.game-item-container h3{
margin-top:0;
}

.game-item-container{
  display: inline-block;
  margin: 10px;
}

.game-display-container{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.game-item-container a {
  text-decoration: none;
  color: white;
}
.game-item-container a:hover {
  text-decoration-line: underline;
}

.game-item-container img {
  width: 200px;
  box-shadow: 0 5px 13px 0 #00000080;
  border-radius: 2px;
  transition: 0.15s ease;
}
.game-item-container img:hover {
  width: 210px;
  transition: 0.15s ease;
  box-shadow: 0 5px 26px 0 #000000B3;

}

.game-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
}

.filterGames{
  margin: 0px 8px 8px 0px;
  margin-bottom: 0;
  border: none;
  padding: 3px 6px 4px 6px;
  border-radius: 5px 5px 0 0;
  background-color: #43582D;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  color: white;
}
.filterGames:hover{
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
}

.filterGames:focus{
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  outline: none;
}

.filter-tabs{
  border-bottom: 1px solid #43582D;
  margin-left:19%;
  width: 70%;
}

.game-search-form{
  display: flex;
  flex-direction: row;
  border: 1px solid #7FAF23;
  border-radius: 4px;
  width: 235px;
  margin-left:19%;
  margin-bottom: 20px;
  padding: 2px;
}
.game-search-form input:focus{
outline: none;
}

.game-search-form input{
  background: none;
  flex-grow: 2;
  border: none;
  color: white;
}

.games-search-button{
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  color:#ffffff;
  cursor: pointer;
}

@media screen and (max-width: 500px){
    .game-display-container{
    display: auto;
    width: auto;
    padding: 0;
  }
  .game-search-form{
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .filter-tabs {
    margin: 0 auto;
  }
  .game-item-container {
    margin: 0 auto;
  }
}

