.dashboard-container {
  margin-left: 90px;
  margin-top: 166px;
}

.game-search__tab, .game-search__fake-tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px -1px 0;
  padding: 4px 14px;
  border-radius: 5px 5px 0 0;
  font-family: Rajdhani, sans-serif;
  font-weight: normal;
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
}

.game-search__tab {
  background-color: #43582D;
}

.game-search__fake-tab {
  background-color: #6e9c25;
}

.game-search__tab:hover {
  cursor: pointer;
  background-color: #6fa42c;
}

.filterGames{
  margin: 0px 8px 8px 0px;
  margin-bottom: 0;
  border: none;
  padding: 3px 6px 4px 6px;
  border-radius: 5px 5px 0 0;
  background-color: #43582D;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  color: white;
}

.filterGames:hover{
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
}

.filterGames:focus{
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  outline: none;
}

.filter-tabs{
  border-bottom: 1px solid #43582D;
}

.game-search-form{
  position: fixed;
  top: 0;
  padding-top: 20px !important;
  background-color: #212227;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: calc(100% - 130px);
  margin: 0 20px;
  padding: 2px;
  border-bottom: 4px solid #212227;
}
.game-search-form input:focus{
outline: none;
}

.game-search-form input{
  background: none;
  flex-grow: 2;
  border: none;
  color: white;
  font-size: 16px !important;
}

.games-search-button{
  position: relative;
  left: -1px;
  border: none;
  margin: 5px 0 20px;
  padding: 0 10px;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  border-radius:  0 5px 5px 0;
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  z-index: 1;
  color:#ffffff;
}

.games-search-button:hover {
  cursor: pointer;
}

.game-search-fieldset {
  border: none;
  padding: 0;
}

.game-search-fieldset legend {
  font-size: 14px;
  display: block;
  width: 100%;
}

.game-search-fieldset input {
  margin: 5px 0 20px;
  border: 1px solid #6fa42c;
  background-color: transparent;
  border-radius: 5px 0 0 5px;
  color: #fff;
  height: 30px;
  width: 250px;
  font-size: 14px;
  transition: background-color 0.6s, border 0.6s, box-shadow 0.6s;
  padding: 6px 8px 6px 32px;
}

.game-search__relative-fieldset-icon {
  position: absolute;
    left: 9px !important;
    color: #b3b3b3;
    top: 1px;
}

.game-display-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 900px){
  .game-display-container{
    width: 100%;
    justify-content: center;
  }

  .dashboard-container {
    margin-left: 0;
  }

  .game-search-form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    top: 90px;
  }

  .games-form-top {
    top: 0;
  }  

  .game-search-fieldset input {
    width: calc(100% - 65px);
    max-width: 250px;
  }

  .game-search-fieldset legend {
    display: none;
  }

  .game-search-form {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .game-search__tab, .game-search__fake-tab {
    font-size: 12px;
    margin-right: 5px;
  }

}

