.party-page-container{
  border-radius: 5px;
  margin: 6% auto;
  width:85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 210px);
}
.chat-log-container{  
  border-radius: 5px;
  height: calc(100vh - 265px);
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2%;
}

.chat-main-container{
  border-radius: 5px;
  background-image: linear-gradient(#363740, #2c2e34);
  width: 75%;
}

.display-party-info{
  margin-right: 10px;
  background: #141517;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.display-party-info .leave-party{
  justify-content: center;
  display: flex;
}

.leave-party button{
  background: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 #00000080;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  width: fit-content;
  padding: 4px;
  cursor: pointer;
  margin: 5px;
}
.leave-party button:hover{
  background: linear-gradient(#9c2525, #9c2525 67%, #7e0707);
  transition: 0.9s ease-in;
}

.party-info h1, .party-info p{
  text-align: center;
}
.party-props{
  height: 80%;
  padding: 5px;

}
.party-reqs{
  background-color: #3b3f48;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 #00000080;
  border: 1px solid #5b6370;
  padding: 3px 6px;
  margin: 10px;
  color: #fff;
  width: fit-content;
}

.party-props li{
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 100;

}

.party-props p{
  width: fit-content;
}

.chat-message-container{
  /* border: 1px solid white; */
  border-radius: 5px;
  background-color: #4c515e;
  border: 1px solid #6c6d71;
  margin: 10px 14px 10px 1px;
  box-shadow: 0 1px 8px 0 #00000080;
}

.chat-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-input:hover{
  border: 1px solid #8f9094;
  background-color: #3e434e;
}

.chat-input{
  width: 70%;
  border-radius: 5px;
  border: 1px solid #6c6d71;
  background-color: #4c515e;
  color: #fff;
  margin: 15px 5px;
  transition: background-color 0.6s, border 0.6s, box-shadow 0.6s;
  padding: 6px 8px 6px 8px;
  box-shadow: 0 1px 8px 0 #00000080;
}

.chat-submit-button{
    background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 #00000080;
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    width: 10%;
    padding: 4px;
    cursor: pointer;
}
.avatar-msg-ctr{
  display: flex;
  align-items: center;
  width: 10%;
  margin-left: 2%;
}
.avatar-msg{
  width: 45px;
  border-radius: 50%;
  height: 45px;
}
.msg-hdr{
  display: flex;
  align-items: center;
  width: 130%;
}
.msg-txt-ctr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.time-stamp{
  margin: 0;
  color: #c1c1c17a;
  font-weight: 400;
  font-size: small;
}
.chat-message-user{
  margin: 0 3% 0 0;
  font-weight: 600;
  
}
.chat-message-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: auto;

  margin: 10px;
  height: 10%;
}
.chat-message-body{
  margin: 0;
  font-weight: 500;
  color: #ffffffb8;
}
.user-options-button{
  height: 35%;
  background-image: linear-gradient(#6e9c25, #6e9c25 67%, #507e07);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 #00000080;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  width: fit-content;
  margin: 5px;
  cursor: pointer;

}

.usr-op-ctr{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10%;
}

.usr-op-ctr-exp{
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
.expand-party-info{
  display: none;
}
.reqs-container{
  height:38%;
}

@media screen and (max-width: 500px){
  .party-page-container{
    height: 100%;
    flex-direction: column;
    width: 100%;
  }
  .display-party-info{
    width: 100%;
    background: #212227;
  }
  .avatar-msg{
    width: 25px;
    height: 25px;
  }
  .chat-main-container{
    width: 100%;
    background: none;
  }
  .usr-op-ctr{
    width: 15%;
  }
  .chat-log-container{
    font-size: 80%;
  }
  .chat-message-container{
    height: 15%;
  }
  .chat-submit-button{
    width: 15%;
  }
  .user-options-button{
    font-size: 90%;
  }
  .expand-party-info{
    display: block;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 18px;
    background-image: linear-gradient(#586166,#3b4449);
    color: white;
  }
  .hidden{
    display: none;
  }
  .party-info{
    font-size: 60%;
  }
  .party-props{
    font-size: 80%;
  }

}