
.modal {
  position: relative;
  font-family: Rajdhani, sans-serif;
  color: white;
  background-color: #2c2e34;
  border: 1px solid #6e6f72;
  border-radius: 5px;
  z-index: 7;
  box-shadow: 0 5px 13px 0 #00000080;
}

.modal-header {
  background-image: linear-gradient(#363740, #2c2e34);
  margin: 0 -20px 10px;
  padding: 5px 0 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000086;
  z-index: 6;
}

.modal-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px !important;
  width: 30px;
  height: 30px;
}