.squad-container {
  position: relative;
  display: flex;
  height: 118px;
  border: 1px solid transparent;
}

.squad-container:hover, .squad-container:focus {
  background-color: #3b3e48 !important;
  border-radius: 0;
  border: 1px solid #6e6f72;
  box-shadow: 0 5px 13px 0 #00000080;
  cursor: pointer;
  z-index: 1;
}

.squad-list {
  margin-top: 124px;
  padding: 0 30px;
  list-style: none;
}

.squad-container {
  margin: 0 -11px;
  border-radius: 5px;
  padding: 0 11px;
}

.squad-container:nth-child(even) {
  background-color: #2c2e35;
}

.squad-list h4 {
  min-width: 160px;
  color: #7faf23;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px 0 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.squad-list p {
  margin: 0;
  font-weight: normal;
  color: #b3b3b3;
}

.squad__gamemode-image {
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 8px 0 #00000080;
  border-radius: 5px;
  border: 1px solid #909193;
}

.squad__gamemode-image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #565d69;
  font-size: 50px;
}

.squad__details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.squad__details-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.squad__spots-list {
  width: 320px;
  list-style: none;
  padding: 0;
}

.squad__spots-list li {
  display: inline-block;
}

.squad__spots-list li:not(:last-child) {
  margin-right: 4px;
}

.squad__spots-full {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 44px;
  height: 50px;
}

.squad__spots-filled, .squad__spots-empty{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.squad__spots-empty {
  background-color: #565d69;
}

.squad__spots-filled {
  background-color: #2c2e35b9;
  color: #fff !important;
}

.squad__spots-image-container {
  position: relative;
  width: 32px;
  height: 38px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 #00000080;
  border: 1px solid #909193;
}

.squad__spots-first-half, .squad__spots-second-half {
  position: absolute;
  display: inline-block;
  font-size: 0;
  width: 44px;
  height: 50px;
  top: -7px;
}

.squad__spots-first-half {
  clip-path: inset(6px 22px 6px 6px);
  top: -7px;
  left: -7px;
}

.squad__spots-second-half {
  clip-path: inset(6px 6px 6px 22px);
  top: -7px;
  right: -7px;
}

.squad__gamemode-image-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.squad__requirements {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.squad__avatar-image {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 54px;
  height: 60px;
  clip-path: inset(11px 11px 11px 11px);
}

.squad__owner {
  display: flex;
  align-items: center;
  width: 200px;
  padding-bottom: 5px;
}

.squad__owner p {
  color: #fff;
}

.squad__owner div {
  margin-right: 10px;
}