img {
  width: 200px;
}

.avatar_url {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
}

.avatars {
  width: 75px;
  margin: 2px;
  border-radius: 25%;
  cursor: pointer;
}

.avatars:hover{
  width: 78px;
  border: 3px solid yellowgreen;
}
.avatars:active{
  width: 78px;
  border: 4px solid yellowgreen;
}

#root{
  font-family: Rajdhani;
  color: white;
}

body{
  margin: 0;
  background-color: #212227;
}
